body {
  font-family: "Quicksand", sans-serif;
  background-color: #fcfcfc;
}

h1 {
  font-size: 40px;
  color: #d59bf6;
}
a {
  color: #d59bf6;
  text-decoration: none;
}
.container {
  text-align: center;
  margin: 120px auto;
  max-width: 600px;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 1.5px;
}
form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}
.instructions {
  padding: 16px;
  border: 1px solid rgba(173, 39, 245, 0.8);
  width: 80%;
  font-size: 16px;
  border-radius: 27px;
  line-height: 15px;
  color: #272044;
}

.submit-button {
  padding: 15px;
  border: 1px solid rgba(173, 39, 245, 0.8);
  border-radius: 27px;
  width: 19%;
  margin-left: 10px;
  border: 1px solid rgba(173, 39, 245, 0.8);
  background-color: white;
  font-size: 12px;
  color: #272044;
}
.quote-container {
  font-size: 15px;
  line-height: 1.8;
  border-left: 3px solid rgba(173, 39, 245, 0.8);
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
.quote-container strong {
  color: #d59bf6;
}
